.mainContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid var(--black);
    width: 850px;
    height: 600px;
    padding-bottom: 4em;
    align-items: center;
}