.mainContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid black;
    width: 700px;
    height: 600px;
    padding-bottom: 4em;
    align-items: center;
}