.drawCardButtonContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

p {
  width: 100%;
  margin: 0;
  font-size: 1.25em;
  font-weight: bold;
  text-transform: uppercase;
}

.drawCardButton {
    padding: 1em 2.2em;
    border-radius: 10px;
    border: 1px solid var(--gray);
    background-color: var(--blue);
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    margin-top: 3em;
}

.drawCardButton:hover {
  cursor: pointer;
  background-color: var(--blue-active);
}


.drawCardButton:active {
  transform: scale(0.97); 
}