.heading {
    display: flex;
    width: 100%;
    padding: 0.2em;
    margin-top: -0.6em;
    color: gray;
    height: 27px;
    border: 1px solid gray;
}

.headingButtons {
    display: flex;
}

.logoText {
    width: 58%;
}

.headingButtons .button {
    border: 2px solid gray;
    width: 20px;
    height: 20px;
    margin: 0.1em;
    border-radius: 50%;
}

.headingButtons .blueButton {
    border-color: #1897ff;
}


.remainingCount {

}